@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Amita:wght@400;700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Buda:wght@300&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Grandiflora+One&family=Hina+Mincho&family=Josefin+Slab:wght@300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Tapestry&display=swap');

:root{

  font-family: 'Amarante', serif;
  font-family: 'Amita', serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Buda', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Grandiflora One', cursive;
  font-family: 'Hina Mincho', serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Tapestry', serif;

  --text-sans-s1: 'Barlow', sans-serif;
  --text-sans-s2: 'Lato', sans-serif;
  --text-serif1: 'Amarante', serif;
  --text-serif2: 'Amita', serif;
  --text-serif3: 'Buda', serif;
  --text-serif4: 'Cormorant Garamond', serif;
  --text-serif5: 'Amarante', serif;
  --text-serif6: 'Hina Mincho', serif;
  --text-serif7: 'Josefin Slab', serif;
  --text-serif8: 'Tapestry', serif;


  }
  
  